


h1 The Number Quiz 
p your current score is 
p You have completed the Number Quiz, with a score of out of "";
//- -var questions = [
//-     ["1,1,2,3,5"],//fibonacci
//-     ["1,4,9,16,25"],//squares
//-     ["2,3,5,7,11"],//primes
//-     ["1,2,4,8,16"],//powers of 2
//- ];
       
