body{
    background:lightcyan;
     margin-top: 40px; 
}

.wraper{
    background-color:rgba(0, 0, 0, 0.1);
    height: 350px;
    width: 500px;
    margin-left: 180px;
    border: 2px solid grey;
    border-radius: 20px ;
    margin-top: 38px;
    box-shadow: 10px 10px  30px grey;
}
h1{
    text-align: center;
    text-shadow: 4px 4px  5px rgba(0, 0, 0, 0.3);
    font-size: 32px;
    font-weight: bold;
    color: rgb(43, 5, 5);
}
.btn{
    border: 2px solid black;
    text-decoration: none;
    font-size: 21px;
    margin-top: 10px;
    margin-left: 180px;
    border-radius: 5px;
    background-color: rgb(14, 15, 15);
    font-weight: bold;
    color: aliceblue;
    text-shadow: 3px 3px  5px rgba(0, 0, 0, 0.2);
}
label{
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;  
}
.divClass{
    margin-bottom: 7px;
}
input{
    margin-left: 40px;
    padding: 2.8px;
}
.checkbox{
    padding: 1px;
}
#drp{
margin-left: 30px;
padding: 3px;
}

.logo{
    padding: 30px;
    margin-top: 20px;
    margin-left: 300px;
}