body{
    background-color:rgb(171, 132, 132) ;
    font-family:Arial, Helvetica, sans-serif ;
    line-height: 1.4;
    margin-left: 18px;
        } 
.aboutme{
    color:rgb(65, 13, 13);
    margin-top: auto;
}
        .mood{
            margin-right:10px; 
        }

        #textmovie{
font-style: italic;
color: rgb(206, 20, 20);
        }

        h2{
            color:rgb(88, 6, 6);
        }
        span{
            color: rgb(34, 37, 225);
        }