body{
    background-color:rgb(218, 195, 195) ;
    font-family:Arial, Helvetica, sans-serif ;
    line-height: 1.4;
    margin-left: 15px;
        } 
.aboutme{
    color:rgb(88, 6, 6);
}
        .mood{
            margin-right:10px; 
        }

        #textmovie{
font-style: italic;
color: red;
        }

        h2{
            color:blue;
        }
        span{
            color: rgb(212, 90, 187);
        }