body{
    background-color: #000;
    margin-top: 0px;
    padding: 0px;
    line-height: 1.4em;
    color:#404040 ;
    font-size: 11pt;
    font-family: Georgia,Garamond; 
    
}
#card{

    background:white url(./images/silverware.jpg) repeat;
    margin-left: 480px ;
    margin-top: auto;
    /* text-align: center ;
    <border: 1px solid;*/
    padding:12px ; 
     width: 36%; 
    height: 124em;
    color: #000;
   /* border-radius: 5px;*/
    box-shadow:0 3px 5px 0 silver ;
    transition: 0.3s;
}
a{
    /* text-decoration: #A4A400 ; */
    color: #A4A400;
}

p{
    line-height: 0.4em;
}
.recipe{
    line-height: 1.2em;  
}
h1{
    background-color:#F0F0F0 ;
    text-align: center;
    font-weight: bold;
    font-size: 22pt;
    color: #A4A400;
    font-family: Helvetica, Arial;
    text-decoration: underline;
}
h2{
    background-color:#F0F0F0 ;
    color: #A4A400;
    font-family: Helvetica, Arial;
    font-weight:bold;
    font-size: 18pt; 
    text-decoration: underline;
}
.comment1{
    background-color: #FFFFA8;
}
.QA{
background-color: #FFFFA8;
}
#comment2{
    background-color: #FFFFA8;
}
.container{
    margin-left: 40px;
}

.copyright{
font-family: monospace;
margin-left: 278px;
}
pre{
    line-height: 3px;
}
.logo{
    margin-left:361px;
}
ul{
    list-style-image: url('images/pie_icon.gif');
}
