body{
    background:url(./images/DateApp.png) repeat ;
    margin-top: 0px;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif ;
}
/* .wraper{
    background-color:rgb(222, 222, 249);
    height: 500px;
    width: 500px;
    margin-left: 100px;
    border: 12px solid rgb(18, 18, 18);
    border-radius: 15px ;
} */
#image{
padding: 8px; 
margin: 0;

}

.holder{
    /* position:absolute; */
     background-color:rgb(2, 2, 2,0.1); 
    width: 420px;
    margin-top: 50px;
    margin-left: 290px;
    border-radius: 10px ;
    box-shadow:1px 3px rgb(233, 235, 223) ;
border: 6px solid gray;
}
#sign{
    background-color: white;
    border: 1px solid gray;
    box-shadow: 0px 2px  grey;
    position: sticky;
    padding: 5px;
}
span{
    
color: rgb(25, 25, 70);
}
.btn{
    background-color: rgb(215, 160, 178);
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 2px  grey;
    padding: 3px;
    border-radius: 3px;
    width: 90px;
    margin-top: 8px;
    color:black;
}
label{
 /* margin-right: 90px; */
 font-weight: bold;
 color:ivory;     
}

.text{
padding: 3px;  
}
.divClass{
    margin-bottom: 7px;
}
.logo{
    padding: 30px;
    margin-top: 10px;
    margin-left: 290px;
}
.para{
    margin-top: 30px;
    margin-left: 290px;
    margin-bottom: 20px;
    color:ivory;
}
#copyRight{
    margin-left: 290px;
    margin-bottom: 20px;
    color:ivory;
}
#back{
    text-decoration: none;
    color:rgb(29, 29, 250);
    margin-left: 290px;
}
i{
    color:ivory;
}